*{
    margin: 0;
    padding: 0;
}
header{
    font-size: 2rem;
    margin: 0.5rem;
    text-align: center;
}
#main{
    background-color: bisque;
    color: black;
    
}
#tr-form{
    width: 50%;
    margin: auto;
    background-color: aliceblue;
  
}
#tr-form form{
    width: fit-content;
    margin: auto;
}
#tr-form form label{
    color: black;
    font-size: large;
    
}
#tr-form form input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    width: auto;
    height: 3rem;
    
}
#tr-form form input[type=submit],#tr-form form input[type=reset]{
    margin: auto;
    color: red;
    display: block;
    width: 10rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 3rem;
}
.container{
    text-align: center;
    
}
 .main,h1,h2{
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
     background-color: black;  
     color: white;
}
.quiz-form label{
    display: flex;
    justify-content: center;
    margin: 1rem;
   

}
.question-container {
    color: white;
}
#submit-btn{
    width: 5rem;
    height: 2rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
} 
#output-score{
    display: block;
    text-transform: capitalize;
    margin-top: 3rem;
    font-size: larger;
}

.Hypotenuse>*{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    flex-direction: column;
    margin-top: 1rem;
    line-break: auto;
    align-items: center;
    height: fit-content;
    
}
.Hypotenuse p,.HHypotenuse button{
    padding-top: 1rem;
    padding-bottom: 1rem;
     background-color: aliceblue; 
    
}
.Hypotenuse button,.Hypotenuse input{
    width: 300px;
    height: 50px;
    border-radius: 2rem;
    margin-top: 1rem;
}
.Hypotenuse button:hover{
    background-color: green;
    color: white;
}
.Hypotenuse button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:300px;
    flex-wrap:wrap;
    display: block;
} 
input:focus{
    font-size: large;
}
#output{
    font-size: large;
    display: block;
    text-align: center;
    width: fit-content;
    height: 10px;
    padding: 2rem;
    
}
nav a{
    
    text-decoration: none;
}
nav li{
 display: flex;
    justify-content: space-between;
    flex-direction: row;
    display: inline-block;
    align-items: space-between;
    margin-top: 2rem; 
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 290px;
    
}
nav{
    background-color: aquamarine;
    border-bottom-left-radius: 2rem;
    width: auto;
    height: auto;
}